@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #0f0f11;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--tasa-explorer);
  --focus: lime-500;
  --break: sky-400;
  --pause: yellow-300;
  --stop: orange-500;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
