@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #000000;
  --focus: #89ff80;
  ---break: #77c4ff;
  --pause: #ffef77;
  --stop: #e67f25;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--tasa-explorer);
  --color-focus: var(--focus)
  --color-break: var(--break)
  --color-pause: var(--pause)
  --color-stop: var(--stop)
  
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f11;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
